$shadow: rgba(0, 0, 0, 0.25);
$button: black;
$site-teal: #00CFFF;
$white: white;
$gallery-color: #EEFDF9;
$copyright: #00E2AC;

.hero {
  font-family: "Roboto", Serif;
  text-align: center;
  min-height: 800px;
  background-size: cover;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h2{
    margin-top: 100px;
    margin-bottom: 50px;
    font-size: 40px;
    line-height: 40px;
  }
}

.landscape{ //color didn't apply when nested under hero
    color: $white;
}

.bridge{ //photo didn't show when nested under hero
    background-image: url("../img/bridge/full-width.jpg");
  /*didn't know you could use the ../ in a url ref like this!*/
    width: 100%;
}

#intro {
  h1{
    text-shadow: 0px 5px 5px $shadow;
    font-size: 72px;
    line-height: 55px;
  }
  h5 {
    text-shadow: 0px 5px 5px $shadow;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 700;
  }
}

.cta{ // didn't nest under intro since used in contact
  background: $button;
  color: $white;
  padding: 0px;
  width: 180px;
  font-size: 18px;
  height: 50px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  &:hover{
    background: $site-teal;
  }
}

#about{
  min-height: 0;/*is this right?! confirmed on mentor css*/
  .left-col{
    color: $site-teal;/*they changed up the color in the latest... #00E2AC*/
    padding: 20px;
    text-align: right;
    text-transform: uppercase;
    h2{
      margin-top: 0px;
      margin-bottom: 0px;
      font-size: 60px;
      font-weight: 700;
      line-height: 55px;
    }
  }
  .right-col{
    text-align: left; /*instructions said right, mentor css said left. Left makes more sense*/
    padding: 20px;
    h5{
      font-size:24px;
      line-height: 30px;
    }
  }
}

#gallery{
  background-color: $gallery-color; /*i just had "background" before. not sure it makes a diff*/
  .container{
    padding: 0;
    margin: 0; /*either missed this, or it wasn't in directions*/
  }
  .col-md-4{
    overflow: hidden;
    padding-top: 0 5px 10px 5px;
    img{
      height: 100%;
      max-width: 390px;
      max-height: 280px;
    }
  }
}

#contact{
  text-align: center;
  p{
    text-align: center;
    font-size: 24px;
    max-width: 740px;
    margin-bottom: 40px;
  }
}

#social{
  padding: 20px;
  a{
    margin-top: 0 10px;
    text-decoration: none;
  }
  img{
    height: 20px;
    &:hover{
      opacity: 0.5;
    }
  }
}

#footer{
  height: 40px;
  margin-right: 10%;
  margin-left: 10%;
  padding-bottom: 150px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  .footer-item{
    max-width: 100px;
    text-align: left;
    a{
      margin-right: 20px;
      margin-left: 5px;
      padding: 0px;
      font-size: 16px;
      color: $button;
      line-height: 40px;
    }
  }
}

#copyright { //I don't actually see this in the site.
  margin-left: auto;
  color: $copyright;
  text-align: right;
  span {
    display: flex;
    justify-content: flex-end;
  }
}

@media only screen and (max-width: 480px){
  #intro{
    min-height: 640px;
  }
  #about .left-col h2{
    font-size: 42px;
    line-height: 40px;
  }
  #footer{
    margin-left: 20px;
    margin-right: 20px;
    h4{
      padding-right: 20px;
    }
  }
}

@media only screen and (max-width: 992px){
  .row{
    width: 100%;
    }
  .col-md-4{
    width: 100%;
    .col-md-4 img{
      width: 100%;
      height: auto;
      max-width: 992px;
      max-height: 900px;
    }
  }
}
